{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Checkers Online">
    <meta name="author" content="Floris Kint">
{% endblock %}

{% block title %}
    Checkers Online
{% endblock %}

{% block content %}
    <div class="container">
        {% block messages %}
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endblock %}
        {% block page_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block navbar %}
    {% if session.logged_in_user %}
        {{ nav.login_navbar.render(renderer='custom_bootstrap_nav') }}
    {% else %}
        {{ nav.not_login_navbar.render(renderer='custom_bootstrap_nav') }}
    {% endif %}
{% endblock %}
