{% extends "base.html" %}
{% block page_content %}
    <h1>Games</h1>
    <a class="btn btn-default btn-lg" href="{{ url_for('.create_new_game') }}">
        Create new game
    </a>
    <h2>Your turn!</h2>
    <ul>
        {% for game in your_turn_games %}
            <li>
                Game against {{ game.BlackPlayerId }}. <a
                    href="{{ url_for('.show_game', game_id=game.GameId) }}">Play!</a>
            </li>
        {% endfor %}
    </ul>
    <h2>All active games</h2>
    <h2>Watching</h2>
{% endblock %}